.authPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100svh - var(--header-height) - var(--content-bottom-safe-area));
}

.authContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block {
    width: 100%;
    margin: auto;
}

.title {
    margin-bottom: 0;
}

.smallText {
    font-size: var(--font-size-sm);
    color: var(--TEXT-SECONDARY);
    cursor: pointer;
    margin-top: 10px;
}
