.button {
    padding: 10px 20px;
    background-color: var(--PRIMARY-PINK);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: var(--font-size-lg);
    font-weight: var(--font-medium);
    margin-top: 30px;
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
