.root {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--TEXT-SECONDARY);
  font-weight: var(--font-semibold);
  pointer-events: none;
}

.message {
  padding: 0 16px;
}
