.root {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: min(100vw, var(--app-max-width));
    height: calc(var(--navigation-height) + env(safe-area-inset-bottom));
    z-index: 50;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    background-color: var(--WHITE);
    padding: 0 25px env(safe-area-inset-bottom);
}

.icon {
    width: 28px;
    height: auto;
    color: var(--SECONDARY-PINK);
}

.active .icon {
    color: var(--PRIMARY-PINK);
}

.navLink {
    transition: color 0.15s ease;
}
